<section id="searchUserSection" class="search-user">
  <%- include('order') %>
  <%- include('search') %>
</section>
<section id="listPaginationSection">
  <% if(pages && pages > 0) { %>
    <%- include('pagination') %>
  <% } %>
</section>