<section id="addUserSection" class="register-user">
  <form action="/users" method="POST" class="form" enctype="multipart/form-data">
    <div class="form__input-container">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" required placeholder="Benedito">
    </div>
    <div class="form__input-container">
      <label for="sobrenome">Sobrenome</label>
      <input type="text" name="sobrenome" id="sobrenome" required placeholder="Calixto">
    </div>
    <div class="form__input-container">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required placeholder="bene@dito.com">
    </div>
    <div class="form__input-container">
      <label for="senha">Senha</label>
      <input type="password" name="senha" id="senha" required placeholder="Senha123">
    </div>
    <div class="form__input-container">
      <label for="avatar">Avatar</label>
      <input type="file" id="avatar" name="avatar" aria-describedby="imageHelp">
      <small>Insira arquivos .jpg ou .png (máx. 4MB).</small>
    </div>
    <div class="form__btns">
      <button>Adicionar Usuário</button>
    </div>
  </form>
</section>