:root {
  --amarelo: #ffc400;
  --azul: #00B7FF;
  --branco: #fff;
  --chumbo: #3e3e3e;
  --cinza: #eee;
  --preto: #000;
  --vermelho: #ff0055;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--azul);
  text-decoration: none;
}

.hidden {
  background-color: transparent;
  color: transparent;
  height: 0;
  line-height: 0;
  margin: 0;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

.header,
.footer {
  background-color: var(--azul);
  color: var(--branco);
  margin: 0;
  max-height: 76px;
  min-height: 40px;
  padding: 16px;
  text-align: center;
  width: -webkit-fill-available;
}

.header {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.header__title {
  font-size: 16px;
}

.header__nav a {
  color: var(--branco);
  font-weight: bolder;
}

.header__nav a:hover {
  color: var(--chumbo);
}

.header__nav a:hover::after {
  color: var(--branco);
}

.header__nav a:not(:last-child)::after {
  content: ' | ';
}

.footer__title {
  font-size: 14px;
  font-weight: bolder;
}

#searchUserSection {
  background-color: var(--cinza);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 16px;
}

#searchUserSection form {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  min-height: 45px;
}

#searchUserSection .order-by.form__input-container,
#searchUserSection form .form__input-container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 16px;
}

#searchUserSection .order-by.form__input-container label,
#searchUserSection form .form__input-container label {
  color: var(--chumbo);
}

#searchUserSection .order-by.form__input-container select,
#searchUserSection form .form__input-container input,
#searchUserSection form .form__input-container select:not(.hidden) {
  margin: 0;
  padding: 4px 8px;
}

#searchUserSection form .form__btns button {
  margin: 8px 0 0;
}

#listPaginationSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 16px;
}

#listPaginationSection .current-page {
  margin: 8px auto 8px 0;
}

#listPaginationSection .pages {
  margin: 8px auto;
  display: flex;
  flex-flow: row nowrap;
}

#listPaginationSection .pages__btn {
  background-color: var(--branco);
  border: 1px solid var(--azul);
  color: var(--azul);
  margin-right: 4px;
  margin-top: 8px;
  padding: 4px 8px;
}

.pages__btn--selected {
  background-color: var(--azul);
  border: 1px solid var(--azul);
  color: var(--branco);
  margin-right: 4px;
  margin-top: 8px;
  padding: 4px 8px;
}

main {
  min-height: calc(100vh - 180px);
  padding: 16px;
}

.main-section__title {
  font-size: 24px;
}

.main-section__subtitle {
  color: var(--chumbo);
  font-size: 20px;
}

.main-section__description {
  color: var(--chumbo);
  font-size: 16px;
}

.cta__btn {
  background-color: var(--azul);
  border: none;
  color: var(--branco);
  display: inline-block;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  padding: 6px 12px;
}

.cta__btn:hover {
  background-color: var(--chumbo);
  color: var(--azul);
  cursor: pointer;
}

.users__table {
  font-weight: bold;
  margin: 24px auto;
}

.users__table th,
.users__table td {
  padding: 6px 12px;
}

.users__table td {
  display: block;
}

.users__table td:not(:nth-child(n+7))::before {
  content: attr(data-title) ": ";
  font-weight: bolder;
}

.users__table thead {
  background-color: var(--azul);
  color: var(--branco);
}

.users__table thead tr th:first-child {
  color: transparent;
  font-size: 0;
}

.users__table thead tr th:first-child::before {
  color: var(--branco);
  content: 'Usuários';
  font-size: 16px;
}

.users__table thead tr th:not(:first-child) {
  display: none;
}

.users__table tbody tr td:last-child {
  border-bottom: 1px solid var(--cinza);
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.users__table [class*="--btn"] {
  border: none;
  display: inline-block;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  padding: 6px 12px;
}

.users__table [class*="--btn"]:hover {
  cursor: pointer;
}

.users__table .user__see--btn {
  background-color: var(--azul);
  color: var(--branco);
}

.users__table .user__see--btn:hover {
  background-color: var(--chumbo);
  color: var(--azul);
}

.users__table .user__edit--btn {
  background-color: var(--amarelo);
  color: var(--chumbo);
}

.users__table .user__edit--btn:hover {
  background-color: var(--chumbo);
  color: var(--amarelo);
}

.users__table .user__delete--btn {
  background-color: var(--vermelho);
  color: var(--branco);
}

.users__table .user__delete--btn:hover {
  background-color: var(--chumbo);
  color: var(--vermelho);
}

.register-user,
.edit-user {
  display: block;
  margin: 16px auto;
}

.register-user__title,
.edit-user__title {
  font-size: 24px;
}

.register-user__subtitle,
.edit-user__subtitle {
  color: var(--chumbo);
  font-size: 20px;
}

.register-user .form,
.edit-user .form {
  margin: 24px auto;
  min-width: max-content;
  width: 25vw;
}

.register-user .form__input-container,
.edit-user .form__input-container {
  display: block;
  margin: 16px auto;
}

.register-user .form__input-container label,
.edit-user .form__input-container label {
  color: var(--chumbo);
}

.register-user .form__input-container input,
.edit-user .form__input-container input {
  display: block;
  max-width: calc(100vw - 64px);
  padding: 4px 8px;
  width: -webkit-fill-available;
}

.form__btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.form__btns button {
  background-color: var(--azul);
  border: none;
  color: var(--branco);
  display: inline-block;
  font-weight: bolder;
  text-align: center;
  margin: 8px 0;
  padding: 8px 16px;
}

.form__btns button:hover {
  background-color: var(--chumbo);
  color: var(--branco);
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  .header {
    flex-flow: row wrap;
  }

  #searchUserSection {
    flex-flow: row nowrap;
    max-height: 80px;
  }

  #searchUserSection form {
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;
    min-height: 45px;
  }

  #searchUserSection .order-by.form__input-container,
  #searchUserSection form .form__input-container {
    margin-right: 16px;
    margin-bottom: 0;
  }

  #searchUserSection .order-by.form__input-container select,
  #searchUserSection form .form__input-container input.search-param,
  #searchUserSection form .form__input-container input.search-value,
  #searchUserSection form .form__input-container select#searchRole {
    min-width: 196px;
    width: 196px;
  }
}

@media screen and (min-width: 984px) {

  .users__table td {
    display: table-cell;
  }

  .users__table td:not(:nth-child(n+7))::before {
    content: none;
  }

  .users__table thead tr th:first-child {
    color: var(--branco);
    font-size: initial;
  }

  .users__table thead tr th:first-child::before {
    content: none;
  }

  .users__table thead tr th:not(:first-child) {
    display: table-cell;
  }

  .users__table tbody tr td:last-child {
    border-bottom: none;
    margin-bottom: auto;
    padding-bottom: 6px;
  }
}